.button {
  &-form {
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    transition: var(--transition);
    &:hover {
      opacity: 0.9;
    }
  }
}
