<section class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a
          class="get-started__form-link"
          href="mailto:hellosansbrothers@gmail.com"
        >
          hellosansbrothers@gmail.com</a
        >
      </p>
      <form action="/" class="get-started__form" id="add-form">
        <div class="get-started__form-top">
          <label class="get-started__form-label text-p-small">
            First name
            <input
              data-min-length="4"
              data-max-length="8"
              data-required="true"
              class="get-started__form-input text-p-small"
              type="text"
              name="First-name"
              placeholder="First name"
            />
          </label>
          <label class="get-started__form-label text-p-small">
            Last name
            <input
              data-min-length="4"
              data-max-length="8"
              data-required="true"
              class="get-started__form-input text-p-small"
              type="text"
              name="Last-name"
              placeholder="Last name"
            />
          </label>
        </div>
        <label
          class="get-started__form-label get-started__form-label--email text-p-small"
        >
          Email
          <input
            data-required="true"
            class="get-started__form-input text-p-small"
            type="email"
            name="email"
            placeholder="you@company.com"
          />
        </label>
        <label
          class="get-started__form-label get-started__form-label--phone text-p-small"
        >
          Phone number
          <input
            id="phone"
            class="get-started__form-input text-p-small"
            type="tel"
            name="phone"
            placeholder=""
          />
        </label>
        <label class="get-started__form-label text-p-small">
          Message
          <textarea
            class="get-started__form-input get-started__form-input--textarea text-p-small"
            type="text"
            name="messege"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button
          type="submit"
          class="get-started__form-btn button-form text-p-default"
        >
          Get Started
        </button>
      </form>
    </div>
    <img
      class="get-started__img"
      loading="lazy"
      width="987"
      height="885"
      src="./assets/images/get-started-img.jpg"
      alt="Man and women have five"
    />
  </div>
</section>
