<section class="team">
  <div class="container">
    <h3 class="team__title heading-h3">
      Meet our team of creators, designers, and world-class problem solvers
    </h3>
    <p class="team__text text-p-medium">
      To become the company that customers want, it takes a group of passionate
      people. Get to know the people who lead
    </p>
    <div class="swiper team__slider">
      <div class="team__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper team__slider-wrapper">
        <div class="swiper-slide team__slider-slide">
          <img src="./assets/images/team-avatar-1.jpg" alt="avatar-1" />
          <p class="team__slider-subtitle text-p-medium">Founder & CEO</p>
        </div>
        <div class="swiper-slide team__slider-slide">
          <img src="./assets/images/team-avatar-2.jpg" alt="avatar-2" />
          <p class="team__slider-subtitle text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide team__slider-slide">
          <img src="./assets/images/team-avatar-3.jpg" alt="avatar-3" />
          <p class="team__slider-subtitle text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide team__slider-slide">
          <img src="./assets/images/team-avatar-3.jpg" alt="avatar-3" />
          <p class="team__slider-subtitle text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide team__slider-slide">
          <img src="./assets/images/team-avatar-3.jpg" alt="avatar-3" />
          <p class="team__slider-subtitle text-p-medium">
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide team__slider-slide">
          <img src="./assets/images/team-avatar-3.jpg" alt="avatar-3" />
          <p class="team__slider-subtitle text-p-medium">
            Chief Technology Officer
          </p>
        </div>
      </div>
    </div>
    <div class="team__bottom">
      <h3 class="team__bottom-title heading-h3">
        Join our team, The one with the master touch
      </h3>
      <p class="team__bottom-text text-p-medium">
        We believe it takes great people to make a great product. That’s why we
        hire not only the perfect professional fits, but people who embody our
        company values.
      </p>
    </div>
  </div>
</section>
