<section class="hero">
  <div class="container">
    <h1 class="hero__title heading-h1">Activity & Updates</h1>
    <p class="hero__descr heading-h5">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <ul class="hero__list text-p-default">
      <li class="hero__list-item" data-tab="tab-1">View all</li>
      <li class="hero__list-item" data-tab="tab-2">Design</li>
      <li class="hero__list-item" data-tab="tab-3">Articles</li>
      <li class="hero__list-item" data-tab="tab-4">Product</li>
      <li class="hero__list-item" data-tab="tab-5">Software Development</li>
      <li class="hero__list-item" data-tab="tab-6">Customer Success</li>
    </ul>

    <div id="tab-1" class="swiper hero__blog-slider">
			<div class="hero__blog-slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper hero__blog-slider-wrapper">
        
        <div class="swiper-slide hero__blog-slider-slide">
          <img
            src="./assets/images/blog-img-slide-1.jpg"
            alt="girl at the computer"
          />
          <p class="hero__blog-slider-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h5 class="hero__blog-slider-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="hero__blog-slider-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide hero__blog-slider-slide">
          <img
            src="./assets/images/blog-img-slide-2.jpg"
            alt="girl at the computer"
          />
          <p class="hero__blog-slider-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h5 class="hero__blog-slider-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="hero__blog-slider-descr">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__blog-slider-slide">
          <img
					height="383"
            src="./assets/images/blog-img-slide-3.jpg"
            alt="girl at the computer"
          />
          <p class="hero__blog-slider-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h5 class="hero__blog-slider-title heading-h5">
            Using Grid in website design
          </h5>
          <p class="hero__blog-slider-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
				<div class="swiper-slide hero__blog-slider-slide">
          <img
            src="./assets/images/blog-img-slide-1.jpg"
            alt="girl at the computer"
          />
          <p class="hero__blog-slider-date text-p-small">
            Published in Insight Jan 30, 2021
          </p>
          <h5 class="hero__blog-slider-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="hero__blog-slider-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
      </div>
    </div>
    <div id="tab-2" class="swiper hero__blog-slider hide">
      <div class="swiper-wrapper hero__blog-slider-wrapper">
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
							src="./assets/images/blog-img-slide-1.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Practice making User Flow
						</h5>
						<p class="hero__blog-slider-descr">
							In this article, we'll cover how to create user flows
						</p>
					</div>
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
							src="./assets/images/blog-img-slide-1.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Practice making User Flow
						</h5>
						<p class="hero__blog-slider-descr">
							In this article, we'll cover how to create user flows
						</p>
					</div>
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
							src="./assets/images/blog-img-slide-1.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Practice making User Flow
						</h5>
						<p class="hero__blog-slider-descr">
							In this article, we'll cover how to create user flows
						</p>
					</div>
				</div>
      </div>
    </div>
    <div id="tab-3" class="swiper hero__blog-slider hide">
      <div class="swiper-wrapper hero__blog-slider-wrapper">
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
							src="./assets/images/blog-img-slide-2.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Overview of the Design Principles
						</h5>
						<p class="hero__blog-slider-descr">
							What are Design Principles?… To understand design principles, we
							first discuss the principles.
						</p>
					</div>
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
							src="./assets/images/blog-img-slide-2.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Overview of the Design Principles
						</h5>
						<p class="hero__blog-slider-descr">
							What are Design Principles?… To understand design principles, we
							first discuss the principles.
						</p>
					</div>
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
							src="./assets/images/blog-img-slide-2.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Overview of the Design Principles
						</h5>
						<p class="hero__blog-slider-descr">
							What are Design Principles?… To understand design principles, we
							first discuss the principles.
						</p>
					</div>
				</div>
      </div>
    </div>
    <div id="tab-4" class="swiper hero__blog-slider hide">
      <div class="swiper-wrapper hero__blog-slider-wrapper">
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
						height="383"
							src="./assets/images/blog-img-slide-3.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Using Grid in website design
						</h5>
						<p class="hero__blog-slider-descr">
							Andi: "What's the grid like?" Toni: “Like below…”
						</p>
					</div>
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
						height="383"
							src="./assets/images/blog-img-slide-3.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Using Grid in website design
						</h5>
						<p class="hero__blog-slider-descr">
							Andi: "What's the grid like?" Toni: “Like below…”
						</p>
					</div>
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<div class="swiper-slide hero__blog-slider-slide">
						<img
						height="383"
							src="./assets/images/blog-img-slide-3.jpg"
							alt="girl at the computer"
						/>
						<p class="hero__blog-slider-date text-p-small">
							Published in Insight Jan 30, 2021
						</p>
						<h5 class="hero__blog-slider-title heading-h5">
							Using Grid in website design
						</h5>
						<p class="hero__blog-slider-descr">
							Andi: "What's the grid like?" Toni: “Like below…”
						</p>
					</div>
				</div>
      </div>
    </div>
    <div id="tab-5" class="swiper hero__blog-slider hide">
      <div class="swiper-wrapper hero__blog-slider-wrapper">
        <div class="swiper-slide hero__blog-slider-slide">
					<img src="./assets/images/insight-slide-1.jpg" alt="working">
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<img src="./assets/images/insight-slide-1.jpg" alt="working">
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<img src="./assets/images/insight-slide-1.jpg" alt="working">
				</div>
      </div>
    </div>
    <div id="tab-6" class="swiper hero__blog-slider hide">
      <div class="swiper-wrapper hero__blog-slider-wrapper">
        <div class="swiper-slide hero__blog-slider-slide">
					<img src="./assets/images/strength-image.jpg" alt="Success">
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<img src="./assets/images/strength-image.jpg" alt="Success">
				</div>
        <div class="swiper-slide hero__blog-slider-slide">
					<img src="./assets/images/strength-image.jpg" alt="Success">
				</div>
      </div>
    </div>
  </div>
</section>
